# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# pip
pip-wheel-metadata/
